.logo_registerPage{
    
}
@media (max-width: 767px) {
    .navbar{
        padding: 10px;
    }
}

.navbar{
    padding: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color:#0d619e  ;
    color: #ffffff
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color:#0a5285;
    color: #ffffff
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color:#0a5285 ;
    color: #ffffff
}


.navbar-inverse .navbar-toggle{
    border-color: whitesmoke;
}
.navbar-inverse{
    color: whitesmoke;
    background-color: #0d619e !important;
    border-color: whitesmoke
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #0a5285 ;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: whitesmoke;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color:whitesmoke;
    }
}



@media(max-width: 768px) {
    .actionCard2{
        margin : 10% auto;
    }
}

.actionCard2{
   min-width: 200px;
   padding: 40px 40px;
   cursor: pointer;
}
.cardContainer{
    margin: 5%
}



.actionIcon{
    font-size: 5em;
}
@media(max-width: 768px) {
    .actionIcon{
      font-size: 3em;
    }
    
}



